doctype html
html(lang="hu")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Energiafelhő
    style.
      /* Itt helyezze el a CSS stílusokat a template.html fájlból */
  body
    header
      h1 Energiafelhő
      nav
        a(href="#") Kezdőlap
        a(href="#") Szolgáltatásaink
        a(href="#") Rólunk
        a(href="#") Kapcsolat
    main
      p Az Energiafelhő azon dolgozik, hogy létrehozzon egy új Energiaközösséget. Csatlakozzon hozzánk, és alakítsa a jövő energiaszolgáltatásait!
      a.button(href="#") Előregisztráció
      section
        h2 Arduino Üzenet:
        p= message
    footer
      p 2023 Energiafelhő. Minden jog fenntartva.
